<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="App">
        <header class="App-header">
            <img src="{{ url_for('static', filename='Octocat.png') }}" class="App-logo" alt="logo" />
            <p>
                Geek Code <span class="heart">♥️</span> Flask
            </p>
            <form action="/login" method="POST">
                <label for="name">Login:  </label>
                <input type="text" id="name" name="name">
                <br>
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password">
                <br>
                <input type="submit" value="Entrar">
                {% if error %}
                <p class="error">{{ error }}</p>
                {% endif %}
            </form>
        </header>
    </div>
</body>
</html>
